@use "settings-colors" as *;
@use "settings-borders" as *;
@use "settings-layout" as *;

:root {
	--container-border: #{$container-radius};
	--container-border-color: #{$container-border-color};
	--padding: #{$container-padding};
}

.container {
	border: 1px solid var(--container-border-color);
	border-radius: var(--container-border);
	color: var(--container-border-color);
	padding: var(--padding);
	box-shadow: 0 4px 2px -0.5px gray;
}
