<hr />
<section class="container order-container">
	<div class="info-container order-container__item">
		<!-- Order Number -->
		<div>
			<span class="order-container__item__title">Order Number</span>
			<strong>#98888</strong>
		</div>

		<!-- Date Time -->
		<div>
			<span class="order-container__item__title">Date & Time</span>
			<strong>01/01/2021</strong>
		</div>

		<!-- Name -->
		<div>
			<span class="order-container__item__title">Name</span>
			<strong>Lucas Luca</strong>
		</div>

		<!-- Contact -->
		<div>
			<span class="order-container__item__title">Contact</span>
			<strong>+3011231241412</strong>
		</div>

		<!-- Trans Type -->
		<div>
			<span class="order-container__item__title">Trans Type</span>
			<star-badge class="badge--small" text="Delivery"></star-badge>
		</div>

		<!-- Amount -->
		<div>
			<span class="order-container__item__title">Amount</span>
			<div>
				<strong>455$</strong>
				<star-badge class="badge--cod badge--small" text="COD"></star-badge>
			</div>
		</div>
	</div>

	<!-- Order Items -->
	<div class="order-container__item order-items">
		<span class="order-container__item__title">Ordered Items</span>
		<star-badge class="badge--grey" text="Chicken x 2"></star-badge>
		<star-badge class="badge--grey" text="Keşkek x 1"></star-badge>
	</div>

	<div class="order-container__item action-info">
		<!-- Additional Info -->
		<div class="additional-info">
			<span class="order-container__item__title">Additional information from customer</span>
			<strong>Please send salad and green chanti with 2 paper dish</strong>
		</div>

		<div class="action-items">
			<i class="icon-printer"></i>
			<star-button title="Move To Cooking"></star-button>
		</div>
	</div>
</section>
