@use "settings-colors" as *;
@use "settings-layout" as *;

:host {
	margin-top: 2rem;
	display: block;
}

.order-container {
	color: $primary-color;
	font-size: 1.8rem;
}

.order-container__item:not(:first-child) {
	margin-top: 3rem;
}

.order-container__item__title {
	display: block;
	color: $gray-dark;
	margin-bottom: 3px;
}

.order-items {
	display: flex;
	align-items: center;
}

.info-container {
	display: flex;
	justify-content: space-between;
}

.additional-info {
	flex: 4;
}

.action-info {
	display: flex;
	align-items: center;
}

.action-items {
	flex: 2;
	display: flex;
	justify-content: flex-end;
}

.badge--grey {
	margin-left: 2rem;
}

.icon-printer {
	margin-right: 4rem;
}

strong {
	font-weight: "normal";
}

hr {
	margin-bottom: 1.5rem;
}
