<section class="container order-container">
	<div class="info-container order-container__item">
		<!-- Order Number -->
		<div>
			<span class="order-container__item__title">Order Number</span>
			<strong>#{{ order.ID }}</strong>
		</div>

		<!-- Date Time -->
		<div>
			<span class="order-container__item__title">Date & Time</span>
			<strong>{{ order.Date | date: "medium" }}</strong>
		</div>

		<!-- Name -->
		<div>
			<span class="order-container__item__title">Name</span>
			<strong>{{ order.RequesterName }}</strong>
		</div>

		<!-- Contact -->
		<div>
			<span class="order-container__item__title">Contact</span>
			<strong>{{ order.RequesterContact }}</strong>
		</div>

		<!-- Trans Type -->
		<div>
			<span class="order-container__item__title">Trans Type</span>
			<star-badge class="badge--small {{ getTransferClass() }}" text="{{ getTransferText() }}"></star-badge>
		</div>

		<!-- Amount -->
		<div>
			<span class="order-container__item__title">Amount</span>
			<div>
				<strong>{{ order.TotalPrice }}</strong>
				<star-badge class="badge--cod badge--small" text="COD"></star-badge>
			</div>
		</div>
	</div>

	<!-- Order Items -->
	<div class="order-container__item order-items">
		<span class="order-container__item__title">Ordered Items</span>
		<star-badge
			*ngFor="let item of order.OrderItems"
			class="badge--grey"
			text="{{ item.meal }} x {{ item.amount }}"
		></star-badge>
	</div>

	<div class="order-container__item action-info">
		<!-- Additional Info -->
		<div class="additional-info">
			<span class="order-container__item__title">Additional information from customer</span>
			<strong>{{ order.Message }}</strong>
		</div>

		<div class="action-items">
			<i class="icon-printer"></i>
			<star-button title="Move To Cooking"></star-button>
		</div>
	</div>
</section>
